@model IEnumerable<TravelSmart.Models.TOUR>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link href="~/CSS/index.css" rel="stylesheet" />
<h2>KẾT QUẢ TÌM ĐƯỢC</h2>
<div class="row-test-center">
    @foreach (var tour in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="border">
                <div class="product-top">

                    <span class="sl">Còn Lại @tour.SoLuong</span>

                    <img src="~/Images/Tour/@tour.Anh_TOUR" />

                    <div class="tendd text-center">
                        <h3>
                            <a href="@Url.Action("ChiTietTour","Travel", new { id = tour.Ma_TOUR })">

                                @tour.Ten_TOUR
                            </a>
                        </h3>
                    </div>
                    <div class="price">
                        <span class="d">@Html.FormatValue(tour.GiaTien_TOUR, "{0:#,##0}") VNĐ</span>
                    </div>

                    <a href="@Url.Action("ChiTietTour","Travel", new { id = tour.Ma_TOUR })" class="xem-ngay">XEM THÊM</a>

                </div>
            </div>



        </div> <hr />}

</div>
