@model IEnumerable<TravelSmart.Models.DIADIEM>
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<style type="text/css">
    td {
        height: 40px;
    }
</style>

<h4 style="color:red; text-align:center;">@ViewBag.ThongBao</h4>
<table align="center">
    <h2 style="text-align:center">ĐĂNG NHẬP</h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        if (Request.Cookies["TaiKhoan"] != null && Request.Cookies["MatKhau"] != null)
        {
            <tr>
                <td>Tên đăng nhập:</td>
                <td>
                    @Html.TextBox("TaiKhoan", Request.Cookies["TaiKhoan"].Value)
                    @ViewData["Err1"]
                </td>
            </tr>
            <tr>
                <td> Mật Khẩu:</td>
                <td>
                    @Html.Password("MatKhau", Request.Cookies["MatKhau"].Value)
                    @ViewData["Err2"]
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>Tên đăng nhập:</td>
                <td>
                    @Html.TextBox("TaiKhoan")
                    @ViewData["Err1"]
                </td>
            </tr>
            <tr>
                <td>Mật Khẩu:</td>
                <td>
                    @Html.Password("MatKhau")
                    @ViewData["Err2"]
                </td>
            </tr>
        }

        <tr>
            <td></td>
            <td>
                @Html.CheckBox("remember")<span style="font-style:italic">Nhớ thông tin đăng nhập</span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Đăng nhập" />
            </td>
        </tr>
    }
</table>

