@model TravelSmart.Models.TOUR
@{
    ViewBag.Title = "DeleteTour";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<style type="text/css">
    img {
        width: 200px;
        margin-bottom: 20px;
    }

    h3, h4 {
        color: red;
        font-weight: bold;
    }
</style>
<h2>XÁC NHẬN THÔNG TIN CẦN XÓA</h2>

<h3>Bạn quyết định tour này?</h3>
<h4>@Html.Raw(ViewBag.ThongBao)</h4>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên TOUR :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_TOUR)
        </dd>

        <dt>
            Lịch Trình:
        </dt>

        <dd>
            @Html.Raw(Model.Lich_Trinh.ToString().Replace("\n", "</p><p>"))
        </dd>

        <dt>
            Ảnh Main:
        </dt>

        <dd>
            <img src="~/Images/Tour/@Model.Anh_MAIN" alt="@Model.Ten_TOUR" />
        </dd>
        <dt>
            Ảnh Bìa:
        </dt>

        <dd>
            <img src="~/Images/Tour/@Model.Anh_TOUR" alt="@Model.Ten_TOUR" />
        </dd>
        <dt>
            Ngày Khởi Hành
        </dt>

        <dd>
            @Html.FormatValue(Model.NgayTOUR, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            Số lượng vé:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            Gía vé :
        </dt>

        <dd>
            @Html.FormatValue(Model.GiaTien_TOUR, "{0:#,##0}")VNĐ
        </dd>

        <dt>
            Địa điểm khởi hành:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIADIEM.Ten_DD)
        </dd>

        <dt>
            Gian Liên kết:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIENKET.Ten_LK)
        </dd>

    </dl>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="XÓA" class="btn btn-default" /> |
            @Html.ActionLink("VỀ TRANG QUẢN LÝ ", "IndexTour")
        </div>
    }
</div>
